@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
h3, h4, h5, h6, h2, h1 {
  color: #00ff22;
  font-family: "VT323", monospace;
  font-size: 2rem;
}

h1 {
  color: #00ff22;
}

span, p {
  color: white;
  font-size: 1.2rem;
  font-family: "VT323", monospace;
}

textarea, input {
  font-family: "VT323", monospace;
  font-size: 1.3rem;
  color: white;
  border-color: #0b090b;
  border: 0.5%;
  border-style: solid;
  border-radius: 3%;
  padding: 2%;
}

.formulario__boton {
  font-family: "VT323", monospace;
  font-size: 1.3rem;
  width: 300%;
  padding: 8%;
  margin: 2%;
  color: #0b090b;
  text-transform: uppercase;
  background-color: #00ff22;
}

#simbolo_li, #esqueleto_li, #foto_li, #carta_li, #camisa_li, #celular_li, #linterna_li, #cuchillo_li {
  animation: aparecer 2s 1 ease-in;
}
#contenedor_juego #esqueleto :hover, #contenedor_juego #foto :hover, #contenedor_juego #carta :hover, #contenedor_juego #simbolo :hover, #contenedor_juego #camisa :hover, #contenedor_juego #linterna :hover, #contenedor_juego #cuchillo :hover, #simbolo_li:hover, #esqueleto_li:hover, #foto_li:hover, #carta_li:hover, #camisa_li:hover, #celular_li:hover, #linterna_li:hover, #cuchillo_li:hover {
  cursor: pointer;
  border: solid whitesmoke 0.5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: auto;
}

h1 {
  font-size: 5rem;
  margin: 1%;
  padding: 0.5%;
  text-align: center;
}

h2 {
  margin: 1%;
  text-align: center;
}

h3, h4, h5, h6 {
  font-size: 1.3rem;
  margin: 3%;
  text-align: center;
}

p {
  margin: 1%;
  padding: 1%;
}

body {
  text-align: center;
}

li {
  list-style: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.5s;
}
a:hover {
  opacity: 60%;
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
}
nav ul li {
  margin: 2%;
}
nav ul li a {
  color: white;
  transition: opacity 0.5s;
}
nav ul li a:hover {
  opacity: 60%;
  text-decoration: none;
  color: white;
}

.mb__header {
  display: none;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0b090b;
  height: auto;
  width: 100%;
  grid-area: header;
}

.grid__contacto > header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #0b090b;
  height: auto;
  width: 100%;
}
header nav ul h1 {
  margin: auto;
  font-size: 2rem;
  color: #00ff22;
  font-family: "VT323", monospace;
  text-transform: uppercase;
}

footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  background-color: #0b090b;
  grid-area: footer;
}

.grid__contacto > footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
footer .footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer__flex p {
  margin-right: 10%;
  font-size: 0.9rem;
}
footer .footer__flex p ul .footer__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15%;
}

.grid__index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2.5%;
  grid-column-gap: 1%;
  height: 100vh;
  text-align: center;
  grid-template-areas: "head" "p" "foot";
}
.grid__index .titulo__index {
  text-transform: uppercase;
  transition: animation 1s, transform 1s;
  animation: color__titulo infinite 5s;
}
.grid__index .titulo__index:hover {
  transform: scale(95%);
}
.grid__index .header__index {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: head;
}
.grid__index .texto__index {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  height: 10vh;
  grid-area: p;
}
.grid__index .footer__index {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  background-color: #0b090b;
  height: 100%;
  grid-area: foot;
}

@keyframes color__titulo {
  0% {
    color: #00ff22;
  }
  30% {
    color: #0b090b;
  }
  50% {
    color: white;
  }
  70% {
    color: #0b090b;
  }
  100% {
    color: #00ff22;
  }
}
.grid__juego {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 70vh 0.5fr 0.5fr;
  grid-row-gap: 0.2%;
  grid-column-gap: 1%;
  grid-template-areas: "header" "div" "inventario" "footer";
}

#contenedor_juego {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0b090b;
  background-image: url("/imagenes/placeholder_fondo.jpeg");
  filter: brightness(60%);
  grid-area: div;
}
#contenedor_juego #cuchillo {
  transition: ease-in 0.5s;
  animation: aparecer ease-in 2s 1;
  position: relative;
  right: -50%;
  width: 100px;
  height: 100px;
}
#contenedor_juego #linterna {
  transition: ease-in 0.5s;
  animation: aparecer ease-in 2s 1;
  position: relative;
  right: -50%;
  width: 100px;
  height: 100px;
}
#contenedor_juego #camisa {
  transition: ease-in 0.5s;
  position: relative;
  right: 20%;
  top: 30%;
}
#contenedor_juego #simbolo {
  transition: ease-in 0.5s;
  position: relative;
  right: 10%;
  top: 50%;
}
#contenedor_juego #carta {
  transition: ease-in 0.5s;
  position: relative;
  right: 10%;
  top: 50%;
}
#contenedor_juego #foto {
  transition: ease-in 0.5s;
  position: relative;
  right: 25%;
  top: 30%;
}
#contenedor_juego #esqueleto {
  transition: ease-in 0.5s;
  position: relative;
  right: 25%;
  top: 30%;
}
#inventario_juego {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0b090b;
  grid-area: inventario;
  padding: 0.5%;
  margin: 0.5%;
  z-index: 1;
}

#camino_div {
  cursor: pointer;
  background-color: black;
  width: 150px;
  height: 200px;
  position: absolute;
  top: 51%;
  right: 0%;
}

#p_camino {
  opacity: 0%;
  transition: 1.5s;
  z-index: -1;
}
#p_camino:hover {
  cursor: pointer;
  opacity: 100%;
}

#img_pasto {
  height: 10%;
  width: 110%;
  position: absolute;
  margin: 1%;
  right: -1%;
  top: 87%;
  z-index: -1;
}

#p_pasto {
  position: absolute;
  opacity: 0%;
  right: 28%;
  top: 85%;
  transition: 1.5s;
}
#p_pasto:hover {
  cursor: pointer;
  opacity: 100%;
}

#introduccion {
  margin: 5%;
}

#txt_tramoA {
  margin: 2%;
}

#txt_tramoB {
  margin: 2%;
}

#ojos_div {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

@keyframes oscurecerFondo {
  from {
    filter: brightness(60%);
  }
  to {
    filter: brightness(5%);
  }
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.grid__contacto {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr auto 0.2fr;
  grid-row-gap: 2.5%;
  grid-column-gap: 0%;
  grid-template-areas: "header header" "contacto contacto" "footer footer";
}

.contacto__flex {
  margin-right: 30%;
}

form {
  display: flex;
  margin-right: 60%;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
}

/* INPUT*/
input {
  background-color: #0b090b;
  position: relative;
  right: 30%;
  margin: 1%;
  transition: border-color 0.5s, transform 0.5s;
}
input:hover {
  border-color: #00ff22;
  transform: scale(102%);
}

/* TEXTAREA*/
textarea {
  background-color: #0b090b;
  margin: 1%;
  position: relative;
  right: 30%;
  transition: border-color 0.5s, transform 0.5s;
}
textarea:hover {
  border-color: #00ff22;
  transform: scale(102%);
}

/* BOTON*/
.formulario__boton {
  position: relative;
  right: 190%;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s, transform 0.5s;
}
.formulario__boton:hover {
  cursor: pointer;
  background-color: #0b090b;
  color: #00ff22;
  border-color: #00ff22;
  transform: scale(102%);
}

.imagen__contacto {
  max-width: 50%;
  border-radius: 50%;
  border-color: #0b090b;
  border-style: solid;
  border: 0.5%;
  transition: border-color 0.3s, transform 0.3s;
}
.imagen__contacto:hover {
  border-color: #00ff22;
  transform: scale(102%);
}

.contacto__cuadro {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  animation: contacto__aparece 1s 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: contacto;
  padding: 3%;
  margin: auto;
  border-radius: 2%;
  box-shadow: 3px 5px 20px #00ff22;
  width: 90%;
  transition: transform 0.5s;
}
.contacto__cuadro:hover {
  transform: scale(98%);
}

@keyframes contacto__aparece {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b090b;
  position: fixed;
  max-width: 100%;
  height: 70vh;
}
.modal #partida_nueva {
  cursor: pointer;
  color: white;
  font-size: 2rem;
}
.modal #cargar_partida {
  cursor: pointer;
  color: white;
  font-size: 2rem;
}

#modal-menu:target {
  display: block;
}

#carta-modal:target {
  display: block;
}

.modal__cerrar {
  color: #00ff22;
  width: 6%;
  height: auto;
  position: absolute;
  top: 0vh;
  right: 1%;
}