@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
h3, h4, h5, h6, h2, h1 {
  color: #00ff22;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
}

h1 {
  color: #00ff22;
}

p {
  color: #ff00c8;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: auto;
}

h1 {
  font-size: 5rem;
  margin: 1%;
  padding: 0.5%;
  text-align: center;
}

h2 {
  margin: 1%;
  text-align: center;
}

h3, h4, h5, h6 {
  font-size: 1.3rem;
  margin: 3%;
  text-align: center;
}

p {
  margin: 1%;
  padding: 1%;
}

body {
  text-align: center;
}

li {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.5s;
}
a:hover {
  opacity: 60%;
  text-decoration: none;
  color: #ff00c8;
}

span {
  color: #00ff22;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

nav ul {
  display: flex;
}
nav ul li {
  margin: 2%;
}
nav ul li a {
  color: #ff00c8;
  transition: opacity 0.5s;
}
nav ul li a:hover {
  opacity: 60%;
  text-decoration: none;
  color: #ff00c8;
}

.mb__header {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0b090b;
  height: auto;
  width: 100%;
  grid-area: header;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #0b090b;
  height: auto;
  width: 100%;
}
header nav ul h1 {
  margin: auto;
  font-size: 2rem;
  color: #00ff22;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

footer {
  background-color: #00ff22;
  grid-area: footer;
}
footer .footer__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer__flex p {
  margin-right: 10%;
  font-size: 0.9rem;
}
footer .footer__flex p ul .footer__iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15%;
}

.grid__index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2.5%;
  grid-column-gap: 1%;
  height: 100vh;
  text-align: center;
  grid-template-areas: "head" "p" "foot";
}
.grid__index .titulo__index {
  text-transform: uppercase;
  transition: animation 1s, transform 1s;
  animation: color__titulo infinite 5s;
}
.grid__index .titulo__index:hover {
  transform: scale(95%);
}
.grid__index .header__index {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: head;
}
.grid__index .texto__index {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  height: 10vh;
  grid-area: p;
}
.grid__index .footer__index {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  background-color: #0b090b;
  height: 100%;
  grid-area: foot;
}

@keyframes color__titulo {
  0% {
    color: #00ff22;
  }
  30% {
    color: #0b090b;
  }
  50% {
    color: #ff00c8;
  }
  70% {
    color: #0b090b;
  }
  100% {
    color: #00ff22;
  }
}