.grid__juego {
    height: 100vh;
    @include grid(1fr, 0.5fr 0.5fr 70vh 0.5fr 0.5fr, 0.2%, 1%);
    grid-template-areas:
        "header"
        "recuerdos"
        "div"
        "inventario"
        "footer"; 
}

    #contenedor_juego {
            height: 70vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: $colorFondo;
            background-image: url("/imagenes/fondo_escena1.png");
            background-blend-mode: soft-light;
            background-color: #0f181400;
            grid-area: div;

            #cuchillo{
                width: 100px;
                height: 100px;
                transition: ease-in 0.5s;
                animation: aparecer ease-in 2s 1;
                position: relative;
                right: -50%;
                width: 100px;
                height: 100px;
                & :hover{
                    @extend %hover_objetos;
                }
            }

            #linterna{
                width: 100px;
                height: 100px;
                transition: ease-in 0.5s;
                animation: aparecer ease-in 2s 1;
                position: relative;
                right: -50%;
                width: 100px;
                height: 100px;
                & :hover{
                    @extend %hover_objetos;
                }
            }

            #camisa{
                width: 100px;
                height: 100px;
                transition: ease-in 0.5s;
                position: absolute;
                z-index: 0;
                left: -1.7%;
                filter: brightness(15%) opacity(80%);
                top: 60%;
                transform: rotate(-20deg);
                & :hover{
                    @extend %hover_objetos;
                }
            }
            #simbolo{
                width: 100px;
                height: 100px;
                transition: ease-in 0.5s;
                position: absolute;
                filter: brightness(15%) opacity(25%);
                left: 5.5%;
                & :hover{
                    @extend %hover_objetos;
                }
            }
            #carta{
                width: 70px;
                height: 70px;
                transition: ease-in 0.5s;
                position: absolute;
                filter: brightness(15%);
                position: absolute;
                transform: rotate(45deg);
                bottom: 35%;
                right: 0.5%;  
                & :hover{
                    @extend %hover_objetos;
                }
            }
            #foto{
                width: 80px;
                height: 80px;
                transition: ease-in 0.5s;
                position: absolute;
                filter: brightness(15%);
                transform: rotate(-25deg);
                top: 25%;
                left: 5%;            
                & :hover{
                    @extend %hover_objetos;
                }
            }
            #esqueleto{
                width: 100px;
                height: 100px;
                transition: ease-in 0.5s;
                position: absolute;
                filter: brightness(15%) opacity(70%);
                right: 2%;
                top: 55%;
                & :hover{
                    @extend %hover_objetos;
                }
            }
            #palo{
                width: 150px;
                height: 150px;
                transition: ease-in 0.5s;
                position: absolute;
                filter: brightness(15%) opacity(70%);
                right: 31%;
                top: 54%;
                & :hover{
                    @extend %hover_objetos;
                }
            }
            #papel {
                width: 70px;
                height: 70px;
                transition: ease-in 0.5s;
                filter: brightness(15%);
                position: absolute;
                top: 55%;
                right: 22%; 
                & :hover{
                    @extend %hover_objetos;
                }
            }
            
    }


    #mensaje_palo{
        visibility: hidden;
    }

    #mensaje_papel{
        visibility: hidden;
    }

    #recuerdos_juego{
        @include flex(row, space-evenly, center);
        background-color: $colorFondo;
        grid-area: recuerdos;
        padding: 0.5%;
        margin: 0.5%;
        z-index: 1;
    }

    #inventario_juego{
        @include flex(row, space-evenly, center);
        background-color: $colorFondo;
        grid-area: inventario;
        padding: 0.5%;
        margin: 0.5%;
        z-index: 1;
    }

// CAMINO


#p_camino {
    opacity: 0%;
    transition: 1.5s;
    position: absolute;
    left: 10%;
    top: 80%;
    z-index: 1;
    &:hover {
        cursor: pointer;
        opacity:100%; }
}

// PASTO


#p_pasto {
    position: absolute;
    opacity: 0%;
    right: 10%;
    top: 75%;
    transition: 1.5s;
    &:hover {
        cursor: pointer;
        opacity:100%;
    }
}

// ENEMIGO

#enemigo {
    animation: vibrar ease-in-out infinite .1s alternate;
}

// TYPEWRITE TEXTOS

#introduccion {
    margin: 5%;
}

#txt_tramoA {
    margin: 2%;
}

#txt_tramoB {
    margin: 2%;
}

// OBJETOS DEL INVENTARIO

#cuchillo_li {
    @extend %objetos_inventario;
}
#linterna_li {
    @extend %objetos_inventario;
}
#celular_li {
    @extend %objetos_inventario;
}
#camisa_li {
    @extend %objetos_inventario;
}
#carta_li {
    @extend %objetos_inventario;
}
#foto_li {
    @extend %objetos_inventario;
}

#esqueleto_li {
    @extend %objetos_inventario;
}
#simbolo_li {
    @extend %objetos_inventario;
}

#palo_li {
    @extend %objetos_inventario;
}

#papel_li {
    @extend %objetos_inventario;
}

.recuerdos {
    @extend %objetos_inventario;
}

// OJOS

#ojos_div{
    position: absolute;
    right: 71%;
    top: 60%;
    display: none;
    transition: 0.5s ease-in-out;
}

#ojos_img {
    opacity: 0;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

// BOTON

.boton {
    opacity: 0;
    font-family: $fuenteTextos;
    padding: 2%;
    margin:2%;
    color: $colorFondo;
    text-transform: uppercase;
    background-color: $colorDestacado;
}


// IMAGENES TRAMO A

.imgs__{
    transition: 0.5s ease-in-out;
    animation: aparecer 3s 1 ease-in;
}


// ANIMACIONES

@keyframes aparecer {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes blur {
    from{filter: blur(100%);}
    to{filter: blur(0%);}
}

@keyframes fondo {
    from{background-color: #0f181400;}
    to {background-color: #0f1814;}
}

@keyframes vibrar {
    from{transform: translate(-5px);}
    to{transform: translate(5px);}
}
