
.modal {
    @include flex(column, center, center);
    background-color:$colorFondo;
    position: fixed;
    max-width: 100%;
    height: 70vh;
    #partida_nueva {
        cursor: pointer;
        color: $colorTextos;
        font-size: $tmTitulos;
    }
    #cargar_partida{
        cursor: pointer;
        color: $colorTextos;
        font-size: $tmTitulos;
    }
}


#modal-menu:target {
    display: block;
}

#carta-modal:target{
    display:block;
}

.modal__cerrar {
    color: $colorDestacado;
    width: 6%;
    height: auto;
    position: absolute;
    top: 0vh;
    right: 1%;
}