// COLORES

$colorFondo:  #0f1814;

$colorHeader: #0f1814;

$colorTextos: #9bbc0f; 

$colorTitulos: #9bbc0f; 

$colorDestacado: #0f380f00; 

// FUENTES

$fuenteTextos: 'VT323', monospace;

$fuenteTitulos: 'VT323', monospace;


// TAMAÑOS

$tmDestacado: 5rem;
$tmTextos: 1.2rem;
$tmTitulos: 2rem;
$tmSubTitulos: 1.3rem;
$tmFormulario: 1.3rem;
$tmDestacadoMQ: 1.8rem;
$tmTextosMQ: 0.9rem;
$tmTitulosMQ: 1.1rem;
$tmSubTitulosMQ: 1rem;
$tmFormularioMQ: 1rem;
