#l1-lin {
    position:absolute;
    width: 150%;
    right: 0%;
    z-index: 1;
}

#l2-lin {
    position:absolute;
    width: 150%;
    right: 0%;
    z-index: 1;
}

#l3-lin {
    position:absolute;
    width: 150%;
    right: 0%;
    top:20%;
    z-index: 2;
}

#l4-lin {
    position:absolute;
    width: 150%;
    top: 16%;
    right: 0%;
    z-index: 1;
}